[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
networkx = "*"
elasticsearch-opentracing = "*"
geopandas = "*"
Shapely = "*"
NeoBase = "*"

[dev-packages]

[requires]
python_version = "3.8"
