[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
networkx = "*"
matplotlib = "*"
cython = "*"
elasticsearch-opentracing = "*"
pyproj = "==1.9.6"
basemap = {git = "https://github.com/matplotlib/basemap.git"}

[dev-packages]

[requires]
python_version = "3.7"
