[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
networkx = "*"
matplotlib = "*"
cython = "*"
pyproj = {git = "https://github.com/jswhit/pyproj.git"}
elasticsearch-opentracing = "*"

[dev-packages]

[requires]
python_version = "3.7"
