-i https://pypi.org/simple/
attrs==21.2.0
certifi==2021.5.30
click-plugins==1.1.1
click==7.1.2
cligj==0.7.2
decorator==4.4.2
elasticsearch-opentracing==0.1.4
elasticsearch==7.13.0
fiona==1.8.19
futures==3.1.1
geopandas==0.9.0
munch==2.5.0
neobase==0.22
networkx==2.5.1
numpy==1.20.2
opentracing==1.1.0
pandas==1.2.4
pyproj==3.1.0
python-dateutil==2.8.1
pytz==2021.1
shapely==1.7.1
six==1.16.0
urllib3==1.26.5
