[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
matplotlib = "*"
numpy = "*"
#cartopy = "*"
geopandas = "*"
cartopy = "*"

[dev-packages]

[requires]
python_version = "3.9"
